{% block style %}
<style>
    .bird-svg {
        width: 100%;
        height: 36vh;
    }

    .link-bird {
        fill: none;
        stroke: #ab7646;
        stroke-width: 2px;
    }

    .link-bird-directed {
        fill: none;
        stroke: #a18265;
        stroke-width: 2px;
        marker-end: url(#arrow);
    }

    .path-bird {
        fill: #a18265;
    }

    #viewport {
        fill: none;
        stroke: red;
        stroke-width: 1px;
        z-index: 1;
    }

    .node-bird {
        cursor: default !important;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <svg id="bird_view_svg" class="bird-svg"></svg>
</div>
<script>
    function birdView(e)
    {
        isLoaded = true;
        let main = d3.select(".svg-bird").html();

        let birdView = d3.select("#bird_view_svg").html(main);

        let viewportRect = birdView.select("#viewport");
        if (viewportRect.empty()) {
            viewportRect = birdView.append("rect")
                .attr("id", "viewport");
        }

        let graphsize = d3.select(".svg-bird").select("g").node().getBBox();

        let parentCanvas = d3.select("#bird_view_svg");
        let parentWidth = parseInt(parentCanvas.style("width"), 10);
        let parentHeight = parseInt(parentCanvas.style("height"), 10);

        let scale = Math.min(parentWidth / graphsize.width, parentHeight / graphsize.height);
        let x = d3.select("#bird_view_svg").select("g").node().getBBox().x;
        let y = d3.select("#bird_view_svg").select("g").node().getBBox().y;
        let t = [-x*scale, -y*scale];

        birdView.select("g").attr("transform", "translate(" + t + ") scale(" + scale + ")");
        birdView.selectAll("g").attr('class', 'node-bird');

        updateViewportRect();

        setTimeout(function() {isLoaded = false;}, 100);
    }

    function updateViewportRect() {
        let mainViewG = d3.select(".svg-bird").select("g");
        let mainViewBBox = mainViewG.node().getBoundingClientRect();

        let gCanvas = d3.select(".bird-svg").select("g").node().getBoundingClientRect();
        let searchFilterHeight = d3.select(".search-filter").node().getBoundingClientRect().height;

        let x = (window.innerWidth / 4 - mainViewBBox.left) / (mainViewBBox.width / gCanvas.width);
        let y = (searchFilterHeight - mainViewBBox.top) / (mainViewBBox.height / gCanvas.height);
        let width = gCanvas.width / (mainViewBBox.width / (window.innerWidth*0.75));
        let height = gCanvas.height / (mainViewBBox.height / (window.innerHeight - searchFilterHeight));

        d3.select("#viewport")
            .attr("x", x)
            .attr("y", y)
            .attr("width", width)
            .attr("height", height);
    }

    var config = { attributes: true, childList: true, subtree: true };
    var observer = new MutationObserver( () => {
        if(!isLoaded){
            birdView();
        }
    });

    var isLoaded = false;
    (() => {
        const target = d3.select(".svg-bird").node();
        observer.observe(target, config);
    })()

</script>
{% endblock %}
