<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Graph visualizer</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'toggle.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="https://d3js.org/d3.v3.js"></script>
        <script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    </head>
    <body>

        <div class="tab-bar">
            <div class="tabs"></div>
        </div>

        <div class="main-left">
            <div class="row">
                <h1>Graph visualizer</h1>
                <button type="button" class="action" id="workspaceButton">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>
            <div class="small-views">
                <div class="tree-view">
                </div>
                <div class="bird-view">
                </div>
            </div>
        </div>
        <div class="main-right">
            <div class="search-filter">
                <form id="myForm" method="post" action="{% url 'view' %}">
                    {% csrf_token %}
                    <div class="file-search">
                        <div>
                            <input class="tgl tgl-skewed" id="visualizer" name="visualizer" type="checkbox"/>
                            <label class="tgl-btn" data-tg-off="simple" data-tg-on="block" for="visualizer"></label>
                        </div>
                        <div>
                            <label for="search">Search:</label>
                            <input id="search" name="search" type="text">
                        </div>
                        <div id="filter-div">
                            <label for="filter">Filter:</label>
                            <input id="filter" type="text" class="bigger">
                            <button type="button" class="action" onclick="addFilter()">Add filter</button>
                        </div>
                        <button type="button" class="action" id="findButton">Find</button>
<!--                        <button type="submit" class="action">Find</button>-->
                    </div>
                </form>

                <div class="params">
                </div>
            </div>
            <div class="main">
<!--                {% block mainView %}-->
<!--                {% autoescape off %}{{ response.template }}{% endautoescape %}-->
<!--                {% endblock %}-->
            </div>
        </div>

        <div id="dialog" title="Which data-source do you wish to use?">
            <select id="string-dropdown" class="form-control"></select>
        </div>


    </body>
    <script>
        function createParam(filterValue) {
            const newParam = document.createElement("div");
            newParam.className = "param";

            const paramText = document.createElement("p");
            paramText.className = "param-name";
            paramText.textContent = filterValue;

            const closeButton = document.createElement("button");
            closeButton.className = "btn";
            closeButton.innerHTML = '<i class="fa fa-close"></i>';

            closeButton.addEventListener('click', function () {
                newParam.remove();
            });

            newParam.appendChild(paramText);
            newParam.appendChild(closeButton);

            return newParam;
        }

        function addFilter() {
            const filterValue = document.getElementById('filter').value.trim();
            if (filterValue !== "") {
                const newParam = createParam(filterValue);
                document.querySelector('.params').appendChild(newParam);
                document.getElementById('filter').value = '';
            }
        }

        function loadParams(search_param, filter_params) {
            document.getElementById('search').value = search_param;

            document.getElementById('filter').value = '';
            document.querySelector('.params').innerHTML = '';

            if (!filter_params) return;
            for (let filter of filter_params) {
                const newParam = createParam(filter);
                document.querySelector('.params').appendChild(newParam);
            }
        }

        function showTabs() {
            document.querySelector('.tabs').innerHTML = '';
            $.ajax({
                type: 'GET',
                url: "{% url 'workspaces' %}",
                success: function(response) {
                    tabs = response.tabs;
                    if (!tabs[0]) {
                        loadDialog();
                        return;
                    }
                    for (let tab of tabs) {
                        const newTab = createTab(...tab);
                        document.querySelector('.tabs').appendChild(newTab);
                    }
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }

        function createTab(name, isSelected) {
            const newTab = document.createElement("div");
            if (isSelected)
                newTab.className = "tab selected-tab"
            else
                newTab.className = "tab";

            const tabName = document.createElement("span");
            tabName.textContent = name;
            newTab.appendChild(tabName);

            if (!isSelected) {
                const closeButton = document.createElement("button");
                closeButton.className = "btn";
                closeButton.innerHTML = '<i class="fa fa-close"></i>';

                closeButton.addEventListener('click', function() {
                    removeWorkspace(name)
                });
                newTab.appendChild(closeButton);

                tabName.addEventListener('click', function() {
                    selectWorkspace(name)
                });
            }
            return newTab;
        }

        function selectWorkspace(name) {
            let search_param = document.getElementById('search').value;
            let data = {};
            data.name = name;
            data.search_param = search_param;
            data.filter_params = JSON.stringify(readFilterValues());
            data.root_node = localStorage.getItem('root_node_name');

            $.ajax({
                type: 'GET',
                url: "{% url 'select-workspace' %}",
                data: data,
                success: function (response) {
                  showTabs();
                  loadParams(response.search_param, response.filter_params);
                  submitForm(response.root_node);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            })
        }

        function removeWorkspace(name) {
            $.ajax({
                type: 'GET',
                url: "{% url 'remove-workspace' %}",
                data: {'name': name},
                success: function () {
                  showTabs();
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            })
        }

        function readFilterValues() {
            const filterParams = [];
            document.querySelector('.params').querySelectorAll('.param')
                .forEach(function(param) {
                    filterParams.push(param.textContent);
                });
            return filterParams;
        }

        function submitForm(root_node = '') {
            var formData = $('#myForm').serializeArray();
            formData.push({name: 'filter_params', value: JSON.stringify(readFilterValues())});

            $.ajax({
                type: 'POST',
                url: '{% url "view" %}',
                data: formData,
                success: function (response) {
                    $('.main').html(response.template);
                    $('.tree-view').html(response.tree);
                    createGraph(root_node);
                },
                error: function () {
                    console.error('AJAX request failed');
                }
            });
        }

        $(document).ready(function() {
            $('#findButton').on('click', function() {
                submitForm();
            });
        });

        function loadDialog() {
            $.ajax({
                url: '{% url "source-plugins" %}',
                type: 'GET',
                success: function(response) {
                    var dropdown = $('#string-dropdown');
                    dropdown.empty();
                    $.each(response.plugins, function(index, value) {
                        dropdown.append($('<option>').text(value).attr('value', value));
                    });
                    createDialog();
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.responseText);
                }
            });
        }

        function createDialog() {
            $('#dialog').dialog({
                modal: true,
                resizable: false,
                draggable: true,
                position: { my: 'center', at: 'center', of: window },
                buttons: {
                    "Cancel": function() {
                        $(this).dialog("close");
                    },
                    "OK": function() {
                        addWorkspace();
                        $(this).dialog("close");
                    }
                }
            });
        }

        function addWorkspace() {
            let data = {};
            data.search_param = document.getElementById('search').value;
            data.filter_params = JSON.stringify(readFilterValues());
            data.root_node = localStorage.getItem('root_node_name');
            data.data_source_id = $('#string-dropdown').val();
            data.csrfmiddlewaretoken = '{{ csrf_token }}'

            $.ajax({
                type: 'POST',
                url: '{% url "new-workspace" %}',
                data: data,
                success: function() {
                    showTabs();
                    document.getElementById('search').value = '';
                    document.getElementById('filter').value = '';
                    document.querySelector('.params').innerHTML = '';
                    submitForm();
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }

        $(document).ready(function() {
            $('#workspaceButton').on('click', function() {
                loadDialog();
            });
        });

        showTabs();

    </script>
</html>