<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Graph visualizer</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'toggle.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="https://d3js.org/d3.v3.js"></script>
        <script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>

        <div class="tab-bar">
            <form id="workspace_form" method="post" action="{% url 'new-workspace' %}">
                {% csrf_token %}
                <div>
                    <input class="tgl tgl-skewed" id="data-source" name="data_source" type="checkbox"/>
                    <label class="tgl-btn" data-tg-off="json" data-tg-on="xml" for="data-source"></label>
                </div>
                <button type="button" class="action" id="workspaceButton">+</button>
            </form>
            <div class="tabs"></div>
        </div>

        <div class="main-left">
            <h1>Graph visualizer</h1>
            <div class="small-views">
                <div class="tree-view">
                </div>
                <div class="bird-view">
                </div>
            </div>
        </div>
        <div class="main-right">
            <div class="search-filter">
                <form id="myForm" method="post" action="{% url 'view' %}">
                    {% csrf_token %}
                    <div class="file-search">
                        <div>
                            <input class="tgl tgl-skewed" id="visualizer" name="visualizer" type="checkbox"/>
                            <label class="tgl-btn" data-tg-off="simple" data-tg-on="block" for="visualizer"></label>
                        </div>
<!--                        <div>-->
<!--                            <input class="tgl tgl-skewed" id="data-source" name="data_source" type="checkbox"/>-->
<!--                            <label class="tgl-btn" data-tg-off="json" data-tg-on="xml" for="data-source"></label>-->
<!--                        </div>-->
                        <div>
                            <label for="search">Search:</label>
                            <input id="search" name="search" type="text">
                        </div>
                        <div id="filter-div">
                            <label for="filter">Filter:</label>
                            <input id="filter" type="text" class="bigger">
                            <button type="button" class="action" onclick="addFilter()">Add filter</button>
                        </div>
                        <button type="button" class="action" id="findButton">Find</button>
<!--                        <button type="submit" class="action">Find</button>-->
                    </div>
                </form>
                <div class="params">
                </div>
            </div>
            <div class="main">
<!--                {% block mainView %}-->
<!--                {% autoescape off %}{{ response.template }}{% endautoescape %}-->
<!--                {% endblock %}-->
            </div>
        </div>
    </body>
    <script>
        function createParam(filterValue) {
            const newParam = document.createElement("div");
            newParam.className = "param";

            const paramText = document.createElement("p");
            paramText.className = "param-name";
            paramText.textContent = filterValue;

            const closeButton = document.createElement("button");
            closeButton.className = "btn";
            closeButton.innerHTML = '<i class="fa fa-close"></i>';

            closeButton.addEventListener('click', function () {
                newParam.remove();
            });

            newParam.appendChild(paramText);
            newParam.appendChild(closeButton);

            return newParam;
        }

        function addFilter() {
            const filterValue = document.getElementById('filter').value.trim();
            if (filterValue !== "") {
                const newParam = createParam(filterValue);
                document.querySelector('.params').appendChild(newParam);
                document.getElementById('filter').value = '';
            }
        }

        function showTabs() {
            document.querySelector('.tabs').innerHTML = '';
            $.ajax({
                type: 'GET',
                url: "{% url 'workspaces' %}",
                success: function(response) {
                    tabs = response.tabs;
                    for (let tab of tabs) {
                        const newTab = createTab(...tab);
                        document.querySelector('.tabs').appendChild(newTab);
                    }
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }

        function createTab(name, isSelected) {
            const newTab = document.createElement("div");
            //todo fix style
            if (isSelected)
                newTab.className = "tab selected-tab"
            else
                newTab.className = "tab";

            const tabName = document.createElement("div");
            tabName.textContent = name;

            if (!isSelected) {
                const closeButton = document.createElement("button");
                closeButton.className = "btn";
                closeButton.innerHTML = '<i class="fa fa-close"></i>';

                closeButton.addEventListener('click', function() {
                    removeWorkspace(name)
                });
                tabName.appendChild(closeButton);

                tabName.addEventListener('click', function() {
                    selectWorkspace(name)
                });
            }

            newTab.appendChild(tabName);
            return newTab;
        }

        function selectWorkspace(name) {
            $.ajax({
                type: 'GET',
                url: "{% url 'select-workspace' %}",
                data: {'name': name},
                success: function () {
                  showTabs();
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            })
        }

        function removeWorkspace(name) {
            $.ajax({
                type: 'GET',
                url: "{% url 'remove-workspace' %}",
                data: {'name': name},
                success: function() {
                    showTabs();
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }

        function addWorkspace() {
            var formData = $('#workspace_form').serialize();

            $.ajax({
                type: 'POST',
                url: "{% url 'new-workspace' %}",
                data: formData,
                success: function() {
                    showTabs();
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }

        $(document).ready(function() {
            $('#workspaceButton').on('click', function() {
                addWorkspace();
            });
        });

        function submitForm() {
            var formData = $('#myForm').serialize();

            $.ajax({
                type: 'POST',
                url: '{% url "view" %}',
                data: formData,
                success: function (response) {
                    $('.main').html(response.template);
                    $('.tree-view').html(response.tree);
                },
                error: function () {
                    console.error('AJAX request failed');
                }
            });
        }

        $(document).ready(function() {
            $('#findButton').on('click', function() {
                submitForm();
            });
        });
    </script>
</html>