{% block style %}
    <style>
        svg {
            width: 100%;
            height: 85vh;
        }

        .node {
            cursor: pointer;
        }

        .link {
            fill: none;
            stroke: #ab7646;
            stroke-width: 2px;
        }

        .link-directed {
            fill: none;
            stroke: #a18265;
            stroke-width: 2px;
            marker-end: url(#arrow);
        }

        path {
            fill: #a18265;
        }

        div.detailsDisplay {
            font-size: 13px;
            position: absolute;
            padding: 20px;
            background-color: #dedded;
            border: 1px solid #969696;
            border-radius: 30px;
        }
    </style>
{% endblock %}

{% block content %}
    <div>
        <svg>
            <defs>
                <marker id="arrow" markerWidth="10" markerHeight="10" refX="8" refY="3" orient="auto" markerUnits="strokeWidth">
                    <path d="M0,0 L0,6 L9,3 z"></path>
                </marker>
            </defs>
        </svg>
    </div>
    <script>
        const map = new Map();
        nodes =
            {
                {%  for node in nodes %}
                    "node_{{ node.id }}":
                        {
                            id: "node_{{ node.id }}",
                            name: "{{ node.name }}",
                            attributes: [
                                {% for attribute in node.attributes %}
                                    {
                                        id: "attribute_{{ attribute.id }}",
                                        name: "{{ attribute.name }}",
                                        value: "{{ attribute.value }}"
                                    },
                                {% endfor %}
                            ]
                        },
                {% endfor %}
            };

        edges = [
            {%  for edge in edges %}
                {
                    id: "edge_{{ edge.id }}",
                    directed: "{{ edge.directed }}",
                    source: "node_{{edge.fromNode.id}}",
                    target: "node_{{edge.toNode.id}}",
                    type: "type"
                },
            {% endfor %}
        ]

        edges.forEach(function (edge) {
            edge.source = nodes[edge.source];
            edge.target = nodes[edge.target];
        });

        var force = d3.layout.force()
            .size([900, 700])
            .nodes(d3.values(nodes))
            .links(edges)
            .on("tick", tick)
            .linkDistance(300)
            .charge(-100)
            .start();

        var svg = d3.select('svg')
            .call(d3.behavior.zoom().on("zoom", function () {
                if (d3.event.sourceEvent && d3.event.sourceEvent.type === "mousedown") {
                    return;
                }
                svg.attr("transform", "translate(" + d3.event.translate + ")" + " scale(" + d3.event.scale + ")")
            }))
            .append("g");

        var link = svg.selectAll('.link')
            .data(edges)
            .enter().append('line')
            .attr('class', function (d) {
                return d.directed === "True" ? 'link-directed' : 'link';
            });

        var div = d3.select('body').append('div')
            .attr('class', 'detailsDisplay')
            .style('opacity', 0);

        var node = svg.selectAll('.node')
            .data(force.nodes())
            .enter().append('g')
            .attr('class', 'node')
            .attr('id', function (d) {
                return d.id;
            })
            .on('click', function(d) {
                d3.event.stopPropagation();
            })
            .on('mouseover', function (d) {
                var textSize = 13;
                div.attr('width', 300)
                    .attr('height', 300)
                    .style('font-family','sans-serif')
                    .attr('text-anchor','start')
                    .transition()
                    .style("opacity",1);

                var info = "";
                info += `${d.name}`
                info += "</br></br>"
                for(var i=0;i<d.attributes.length;i++){
                    var attributeInfo = `${d.attributes[i].name}:  ${d.attributes[i].value}`;
                    var textWidth = attributeInfo.length * (textSize / 2);
                    if (textWidth > 300) {
                        var wrappedLines = wordwrap(attributeInfo, 50).split('\n');
                        info += wrappedLines.join("</br>");
                    } else {
                        info += attributeInfo;
                    }
                    if (i === d.attributes.length-1) {
                        break;
                    }
                    info += "</br>";
                }

                if (info.length > 0) {
                    div.html(info)
                        .style("left", "1rem")
                        .style("top", "1rem");
                }
                else {
                    div.html("No more data for this node")
                        .style("left", "1rem")
                        .style("top", "1rem");
                }
            })
            .on('mouseout', function(d){
                div.transition().style('opacity', 0);
            })
            .call(force.drag);

        function wordwrap(str, width) {
            var regex = new RegExp('.{1,' + width + '}(\\s|$)|.{' + width + '}|.+$', 'g');
            return str.match(regex).join('\n');
        }

        d3.selectAll('.node').each(function (d) {
            showGraph(d);
        });

        var drag = d3.behavior.drag()
            .on("dragstart", function (d) {
                d3.event.sourceEvent.stopPropagation();
                d.fixed = true;
            })
            .on("drag", function (d) {
                d.x += d3.event.dx;
                d.y += d3.event.dy;
                tick();
            })
            .on("dragend", function (d) {
                d.fixed = false;
            });

        node.call(drag);

        function showGraph(d) {
            var textSize = 20;
            height = textSize + 10;

            var textElement = d3.select("g#" + d.id)
                .append('text')
                .attr('x', 0)
                .attr('y', 21)
                .attr('text-anchor', 'middle')
                .attr('font-size', textSize)
                .attr('font-family', 'sans-serif')
                .attr('fill', 'black')
                .text(d.name);

            var width = textElement.node().getBBox().width + 20;

            map.set(d.id, width);

            d3.select("g#" + d.id)
                .append('rect')
                .attr('x', 0)
                .attr('y', 0)
                .attr('width', width)
                .attr('height', height)
                .attr('rx', 10)
                .attr('ry', 10)
                .attr('fill', '#fae0c3')
                .attr('stroke', 'black')
                .attr('stroke-width', 0.5);

            textElement.remove();

            d3.select("g#" + d.id)
                .append('text')
                .attr('x', width / 2)
                .attr('y', 21)
                .attr('text-anchor', 'middle')
                .attr('font-size', textSize)
                .attr('font-family', 'sans-serif')
                .attr('fill', 'black')
                .text(d.name);
        }

        function tick(e) {
            var width = 150;
            var height = 30;
            node.attr("transform", function (d) {
                return "translate(" + d.x + "," + d.y + ")";
            });

            link.attr('x1', function (d) {
                width = map.get(d.source.id);

                return d.source.x + width;
                })
                .attr('y1', function (d) {
                    return d.source.y + height / 2;
                })
                .attr('x2', function (d) {
                    return d.target.x;
                })
                .attr('y2', function (d) {
                    return d.target.y + height / 2;
                });

        }
    </script>
{% endblock %}
